In [1]:
from pulp import *

In [2]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from IPython.display import display

In [3]:
from pandas import *
# https://transition.fec.gov/pubrec/fe2016/federalelections2016_000.pdf
df = pandas.read_csv('2016_Federal_Election_Presidential_Results.csv')
# Convert dtype to int
df = df.fillna(value=0)
df.EVR = df.EVR.astype('int64')
df.EVD = df.EVD.astype('int64')
df.EVO = df.EVO.astype('int64')
df = df.set_index(df.STATE)
df = df.rename(columns={"Total Vote": "PVT"})
# Remove extraneous summary row
df = df.drop('Total')

In [4]:
# https://hudgis-hud.opendata.arcgis.com/datasets/fair-market-rents
rents_df = pandas.read_csv('2018_Fair_Market_Rents.csv')
rents_df
# Group by State to get an average rent (max by county) per state, simple string match lambda
rents_df.FMR_AREANAME = rents_df.FMR_AREANAME.apply(lambda x: str(x).split(",")[1][1:3] 
                                                    if len(str(x).split(",")) > 1 
                                                    else str(x))
rents_df = rents_df.groupby(by='FMR_AREANAME').max()

In [5]:
import math

# Calculate the derived dataframe for running the solvers
electoral_votes = []
plurality_delta = []
relocation_costs = []
for i in df.itertuples():
    # Calculate number of electoral votes per state
    electoral_votes.append(i.EVR + i.EVD + i.EVO)
    
    # Calculate Plurality Delta
    blueShare = float(i.PVD) / i.PVT
    redShare = float(i.PVR) / i.PVT
    delta = int(math.ceil((i.PVT * (min(redShare, 0.5) - blueShare)) 
                      / (1 - min(redShare, 0.5))))
    plurality_delta.append(delta)
    
    # Add relocation costs
    # State average based on HUD data 
    # Relocation cost formula = 3 months of rent for a 1 Bedroom 
    #  + average cost for movers to drive halfway across the country (https://www.movebuddha.com/moving-cost-calculator-tool/)
    #  + average one way ticket to fly halfway across the country
    cost = (rents_df.FMR_1BDR[i[0]] * 3) + 2500 + 250
    relocation_costs.append(cost)
    
d = {'electoral_votes': electoral_votes,
    'plurality_delta': plurality_delta,
    'relocation_costs': relocation_costs
}
df_derived = pandas.DataFrame(data=d, index=df.index)

In [6]:
# Set up Constraint and input arrays for PulP solver
states = list(df.index)
relocation_costs = df_derived.to_dict()['relocation_costs']
voter_gaps = df_derived.to_dict()['plurality_delta']
electoral_votes = df_derived.to_dict()['electoral_votes']

# Linear Optimization for an Electoral College Win by minimizing budget spend
def LpSolveMinBudgetForECWin(budget, 
                             states, 
                             relocation_costs, 
                             voter_gaps, 
                             electoral_votes):
    minECVotes = 270

    # Linear Optimization
    prob = LpProblem("Min Budget to Win Electoral College Problem", LpMinimize)
    state_vars = LpVariable.dicts("St", states, lowBound=0, upBound=1, cat='Integer')
    prob += lpSum([state_vars[i]*voter_gaps[i]*relocation_costs[i] if voter_gaps[i] > 0 else 0 for i in states]), "RelocationBudget"
    prob += lpSum([state_vars[i]*voter_gaps[i]*relocation_costs[i] if voter_gaps[i] > 0 else 0 for i in states]) <= budget, "MaxBudgetForRelocation"
    prob += lpSum([electoral_votes[i]*state_vars[i] for i in states]) >= minECVotes, "Min Electoral Votes To Win"
    prob.writeLP("MaxECMinBudgetModel_v2.lp")
    prob.solve()
    
    print("MINIMUM BUDGET TO WIN THE ELECTORAL COLLEGE")
    print("Status:", LpStatus[prob.status])
    evSum = 0
    targetedStates = []
    flippedStates = []
    for v in prob.variables():
        if v.varValue == 1:
            ev = electoral_votes[v.name[3:]]
            evSum += ev
        if v.varValue > 0 and df.EVR[v.name[3:]] > 0:
            targetedStates.append(v.name[3:])
        if v.varValue == 1 and df.EVR[v.name[3:]] > 0:
            flippedStates.append(v.name[3:])
    print("Total Spend = ", value(prob.objective))
    print("Total EC Votes = ", evSum)
    print("Targeted States: ", targetedStates)
    print("Flipped States: ", flippedStates)

In [7]:
# Linear Optimization for Max Electoral College Win with a given budget
def LpSolveMaxECWinForBudget(budget, states, relocation_costs, voter_gaps, electoral_votes):
    minECVotes = 270
    prob = LpProblem("Max Win Electoral College Problem", LpMaximize)
    state_vars = LpVariable.dicts("St", states, lowBound=0, upBound=1, cat='Integer')
    prob += lpSum([electoral_votes[i]*state_vars[i] for i in states]), "Electoral Votes"
    prob += lpSum([electoral_votes[i]*state_vars[i] for i in states]) >= minECVotes, "Min Electoral Votes To Win"
    prob += lpSum([state_vars[i]*voter_gaps[i]*relocation_costs[i] if voter_gaps[i] > 0 else 0 for i in states]) <= budget, "MaxBudgetForRelocation"

    prob.writeLP("MaxECWin.lp")
    prob.solve()
   
    print("MAXIMUM ELECTORAL VOTES FOR A GIVEN BUDGET")
    print("Status:", LpStatus[prob.status])
    targetedStates = []
    flippedStates = []
    for v in prob.variables():
        if v.varValue > 0 and df.EVR[v.name[3:]] > 0:
            targetedStates.append(v.name[3:])
        if v.varValue == 1 and df.EVR[v.name[3:]] > 0:
            flippedStates.append(v.name[3:])
    print("Total Electoral Votes (with a budget of %d) = %d" % (budget, value(prob.objective)))
    print("Targeted States: ", targetedStates)
    print("Flipped States: ", flippedStates)

In [8]:
def runSolvers(budget, states, relocation_costs, voter_gaps, electoral_votes):
    LpSolveMinBudgetForECWin(budget, states, relocation_costs, voter_gaps, electoral_votes)
    print("\n")
    LpSolveMaxECWinForBudget(budget, states, relocation_costs, voter_gaps, electoral_votes)

# U.S. Democratic Presidential Electoral College Relocation Solver 
## Enter a relocation budget to observe its effect on the 2016 Election
Two solvers will execute:
1. Solves the minimum budget to have spent for Democrats to have won the Electoral College
2. Solves for maximizing the Electoral College votes for a given budget

Note: Only results where **"Status: Optimal"** are valid. Otherwise, Republicans keep the win. Many caveats and assumptions described in detail in the [David Ex Machina blog post](www.davidexmachina.com).

In [9]:
budget_widget = widgets.BoundedIntText(
    value=500000000,
    min=1000000,
    max=50000000000,
    step=1000000,
    description='Budget($):',
    disabled=False
)

x = interact(runSolvers, 
         budget=budget_widget,
         states=fixed(states),
         relocation_costs=fixed(relocation_costs),
         voter_gaps=fixed(voter_gaps),
         electoral_votes=fixed(electoral_votes))

interactive(children=(BoundedIntText(value=400000000, description=u'Budget($):', max=50000000000, min=1000000,â€¦

# Data Inputs for Balancer (Appendix)

## 2016 Presidential Election Results
- EV: Electoral Vote
- PV: Popular Vote
- R: Republican
- D: Democrat
- O: Other
- T: Total

In [10]:
df

      STATE  EVR  EVD  EVO      PVR      PVD     PVO       PVT
STATE
AL       AL    9    0    0  1318255   729547   75570   2123372
AK       AK    3    0    0   163387   116454   38767    318608
AZ       AZ   11    0    0  1252401  1161167  159597   2573165
AR       AR    6    0    0   684872   380494   65310   1130676
CA       CA    0   55    0  4483814  8753792  943998  14181604
CO       CO    0    9    0  1202484  1338870  238893   2780247
CT       CT    0    7    0   673215   897572   74133   1644920
DE       DE    0    3    0   185127   235603   23084    443814
DC       DC    0    3    0    12723   282830   15715    311268
FL       FL   29    0    0  4617886  4504975  297178   9420039
GA       GA   16    0    0  2089104  1877963  147665   4114732
HI       HI    0    3    1   128847   266891   33199    428937
ID       ID    4    0    0   409055   189765   91435    690255
IL       IL    0   20    0  2146015  3090729  299680   5536424
IN       IN   11    0    0  1557286  1033126  144546   2734958
IA       IA    6    0    0   800983   653669  111379   1566031
KS       KS    6    0    0   671018   427005   86379   1184402
KY       KY    8    0    0  1202971   628854   92324   1924149
LA       LA    8    0    0  1178638   780154   70240   2029032
ME       ME    1    3    0   335593   357735   54599    747927
MD       MD    0   10    0   943169  1677928  160349   2781446
MA       MA    0   11    0  1090893  1995196  238957   3325046
MI       MI   16    0    0  2279543  2268839  250902   4799284
MN       MN    0   10    0  1322951  1367716  254146   2944813
MS       MS    6    0    0   700714   485131   23512   1209357
MO       MO   10    0    0  1594511  1071068  143026   2808605
MT       MT    3    0    0   279240   177709   40198    497147
NE       NE    5    0    0   495961   284494   63772    844227
NV       NV    0    6    0   512058   539260   74067   1125385
NH       NH    0    4    0   345790   348526   49980    744296
NJ       NJ    0   14    0  1601933  2148278  123835   3874046
NM       NM    0    5    0   319667   385234   93418    798319
NY       NY    0   29    0  2819533  4556118  345791   7721442
NC       NC   15    0    0  2362631  2189316  189617   4741564
ND       ND    3    0    0   216794    93758   33808    344360
OH       OH   18    0    0  2841005  2394164  261318   5496487
OK       OK    7    0    0   949136   420375   83481   1452992
OR       OR    0    7    0   782403  1002106  216827   2001336
PA       PA   20    0    0  2970733  2926441  268304   6165478
RI       RI    0    4    0   180543   252525   31076    464144
SC       SC    9    0    0  1155389   855373   92265   2103027
SD       SD    3    0    0   227721   117458   24914    370093
TN       TN   11    0    0  1522925   870695  114407   2508027
TX       TX   36    0    2  4685047  3877868  406311   8969226
UT       UT    6    0    0   515231   310676  305523   1131430
VT       VT    0    3    0    95369   178573   41125    315067
VA       VA    0   13    0  1769443  1981473  233715   3984631
WA       WA    0    8    4  1221747  1742718  352554   3317019
WV       WV    5    0    0   489371   188794   36258    714423
WI       WI   10    0    0  1405284  1382536  188330   2976150
WY       WY    3    0    0   174419    55973   25457    255849

## 2016 Derived Data for Optimization Function

In [11]:
df_derived

       electoral_votes  plurality_delta  relocation_costs
STATE
AL                   9           664278              5069
AK                   3            85701              6845
AZ                  11           177746              5771
AR                   6           369688              4856
CA                  55         -6244220              9515
CO                   9          -240331              6662
CT                   7          -379795              7301
DE                   3           -86598              5375
DC                   3          -281618              7112
FL                  29           221490              6470
GA                  16           358806              5648
HI                   4          -197314              7439
ID                   4           310725              5006
IL                  20         -1542686              5882
IN                  11           668707              5003
IA                   6           258693              5030
KS                   6           330392              4931
KY                   8           666441              4826
LA                   8           468724              5297
ME                   4           -40163              5963
MD                  10         -1111743              6056
MA                  11         -1345856              7433
MI                  16            20388              5537
MN                  10           -81279              5495
MS                   6           239095              5060
MO                  10           666469              5108
MT                   3           141729              4946
NE                   5           275239              4982
NV                   6           -49912              5183
NH                   4            -5110              6203
NJ                  14          -931540              7025
NM                   5          -109355              5534
NY                  29         -2735452              7547
NC                  15           345443              5597
ND                   3           156844              5588
OH                  18           708160              5033
OK                   7           612242              4817
OR                   7          -360724              6152
PA                  20            85479              5726
RI                   4          -117806              5978
SC                   9           392281              5744
SD                   3           135177              4895
TN                  11           766637              5483
TX                  38          1213491              6008
UT                   6           375593              5681
VT                   3          -119322              5882
VA                  13          -381394              6188
WA                  12          -824747              7421
WV                   5           336835              5252
WI                  10            43099              5543
WY                   3           143903              5918